<h1>Return a book</h1></br>
<%= form_with  url: books_returnabook_path, :method => :post, data: {turbo: false}  do |form| %>

    <h3>Choose a book</h3>
        <div class="form-group">
            <div><%= form.collection_radio_buttons :book_id, @scop1.order(:title), :id, :title %></div>
           
        </div>

<br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div class="actions">
  
    <%= form.submit  value="Return book",class: "btn btn-primary"%>&nbsp&nbsp&nbsp&nbsp
   
    <%= link_to "Back", books_path, class: "btn btn-primary" %>
  </div>
<% end %>
<br />